# Core Dependencies
numpy
ipython
matplotlib
comet_ml
pandas
# torchcodec -> not needed when using libsndfile
ffmpeg

# Hugging Face
transformers
datasets==2.16.1 # Specific version for compatibility, after this version there is a breaking change that does not work well with conda
accelerate
tokenizers
huggingface_hub

# General utilities
tqdm # For progress bars during training
scikit-learn # For evaluation metrics


# Additional tools
sentencepiece # Used by some tokenizers
bitsandbytes # For 8-bit quantization to run larger models




